<ion-content [fullscreen]="true">
    <ion-header [translucent]="true">
        <ion-toolbar color="black">
            <ion-button color="black" fill="solid" slot="end" class="button-excel" (click)="exportToExcel()">
                <br>

                <i class="fas fa-file-excel"><img src="https://img.icons8.com/doodle/344/microsoft-excel-2019.png"
                        class="excel"></i>
            </ion-button>
            <center>
                <ion-title class="title">CLIENTES</ion-title>
            </center>
            <ion-buttons slot="start">
                <ion-button (click)="atras()">
                    <ion-icon name="arrow-back" ios="arrow-back" md="arrow-back"></ion-icon>
                </ion-button>
            </ion-buttons>
        </ion-toolbar>
        <ion-toolbar color="darking">
            <br>
            <ion-searchbar placeholder="Nombre del cliente" [animated]="true" color="dark" (ionChange)="buscar($event)">
            </ion-searchbar>
            <br>
        </ion-toolbar>
    </ion-header>

    <ion-refresher slot="fixed" (ionRefresh)="getClients($event)">
        <ion-refresher-content>
        </ion-refresher-content>
    </ion-refresher>

    <center>

        <ion-card *ngFor="let client of searchedUser">
            <ion-card-header>
                <ion-card-title>{{client.name}}</ion-card-title>
                <ion-card-subtitle>{{client.surname}}</ion-card-subtitle>

                <br>
                <img src="{{mostrarFoto(client)}}" style="background-color:white; padding-top: 5px;"/>
                <br>
                <tr>
                    <td>
                        <div class="supreme">
                            <ion-fab-button color="danger" (click)="DeleteClient(client)">
                                <ion-icon name="trash"></ion-icon>
                            </ion-fab-button>
                        </div>
                    </td>
                    <td>
                        <div class="edit">
                            <ion-fab-button color="primary" (click)="editModal(client)">
                                <ion-icon name="create"></ion-icon>
                            </ion-fab-button>
                        </div>
                    </td>
                </tr>
            </ion-card-header>
        </ion-card>

    </center>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed" class="addClient">
        <ion-fab-button (click)="openModal()" color="warning">
            <!--Imagen del boton-->
            <ion-icon name="person-add"></ion-icon>
        </ion-fab-button>
    </ion-fab>

</ion-content>