.addClient{
    margin-right: 15px;
    margin-bottom: 20px;
}

.img{
    width: 50%;
    height: 35%;
}


ion-card{
    height: 15%;
    width: 30%;
    background-color: #164b81;
}

.title{
    margin-top: 5px;
    margin-right: 30px;
}

ion-toolbar{
    background-color: #164b81;
}

.opcs{
    margin-top: 80px;
}

ion-content{
    --ion-background-color:white;
}

.edit{
    margin-top: 2vh;
    margin-right: 3vh;
    margin-bottom: 2vh;
}

.supreme{
    margin-top: 2vh;
    margin-left: 0.8vh;
    margin-right: 3vh;
    margin-bottom: 2vh;
}


ion-fab-button {
    width: 7vh;
    height: 7vh;
  }

  .excel{
    width: 2.3rem;
    height: 2.3rem;
}

.button-excel{
    box-shadow: 0px 0px 2px #0e0e0e;
    margin-right: 1.5rem;
    border-top: 1.5rem;
    background-color: #1D6F42;
   
}