<ion-header [translucent]="true">
    <ion-toolbar color="black">
        <center>
            <ion-title class="title">CLIENTES</ion-title>
        </center>
        <ion-buttons slot="start">
            <ion-button>
                <ion-icon name="arrow-back" ios="arrow-back" md="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
    <ion-toolbar color="darking">
        <ion-searchbar placeholder="Nombre del cliente" [animated]="true" (ionChange)="buscar($event)"> </ion-searchbar>
    </ion-toolbar>
</ion-header>



<ion-content [fullscreen]="true">
    <ion-refresher slot="fixed" (ionRefresh)="getClients($event)">
        <ion-refresher-content>
        </ion-refresher-content>
      </ion-refresher>
    <ion-slides [options]="slideOpt" *ngFor="let client of searchedUser">
        <ion-slide>

            <ion-card>
                <ion-card-header>
                    <ion-card-title>{{client.name}}</ion-card-title>
                    <ion-card-subtitle>{{client.surname}}</ion-card-subtitle>
                   <br>
                    <img src="https://st2.depositphotos.com/2931363/6511/i/600/depositphotos_65116237-stock-photo-happy-young-man-in-shirt.jpg" />
                </ion-card-header>
            </ion-card>
        </ion-slide>

        <ion-slide>
            <div class="opcs">
                <ion-fab-button color="danger" (click)="DeleteClient(client)">
                    <ion-icon name="trash"></ion-icon>
                </ion-fab-button>
            </div>

        </ion-slide>
        <ion-slide>
            <div class="opcs">
                <ion-fab-button color="primary" (click)="editModal(client)">
                    <ion-icon name="create"></ion-icon>
                </ion-fab-button>
            </div>
        </ion-slide>
    </ion-slides>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed" class="addClient">
        <ion-fab-button (click)="openModal()" color="warning">
            <!--Imagen del boton-->
            <ion-icon name="person-add"></ion-icon>
        </ion-fab-button>
    </ion-fab>

</ion-content>