.addKid{
    margin-right: 15px;
    margin-bottom: 20px;
    
}

.modal-wrapper {
    --width: 60%;
    --height: 70%;
  }

ion-card{
    height: 10%;
    width: 30%;
    background-color: #164b81;
}

.title{
    margin-top: 5px;
    margin-right: 30px;
}

ion-toolbar{
    background-color: #164b81;
}

.opcs{
    margin-top: 220px;
}

ion-content{
    --ion-background-color:white;
}

ion-fab-button {
    width: 7vh;
    height: 7vh;
  }

  ion-card-subtitle{
      font-size: 35px;
  }

  ion-card-title{
    font-size: 30px;
}

.edit{
    margin-top: 2vh;
    margin-right: 3vh;
    margin-bottom: 2vh;
}

.supreme{
    margin-top: 2vh;
    margin-left: 3vh;
    margin-right: 3vh;
    margin-bottom: 2vh;
}

.btn-Logout{
    width: 10vh;
    height: 7vh;
   

}

.icon-Logout{
    box-shadow: 0px 3px 10px black;
    width: 8vh;
    height: 5vh;
    
}
