<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Niños
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <img src="https://static.guiainfantil.com/uploads/bebes/bebe-boca-abajo-cama-p.jpg" />
    <ion-card-header>
      <ion-card-subtitle>11/10/2020</ion-card-subtitle>
      <ion-card-title>Juan Manolo García Pérez</ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-card>
    <img src="https://static.guiainfantil.com/uploads/bebes/bebe-boca-abajo-cama-p.jpg" />
    <ion-card-header>
      <ion-card-subtitle>20/05/2020</ion-card-subtitle>
      <ion-card-title>Fernando García Pérez</ion-card-title>
    </ion-card-header>
  </ion-card>
   <ion-card>
    <img src="https://static.guiainfantil.com/uploads/bebes/bebe-boca-abajo-cama-p.jpg" />
    <ion-card-header>
      <ion-card-subtitle>11/10/2020</ion-card-subtitle>
      <ion-card-title>Juan Manolo García Pérez</ion-card-title>
    </ion-card-header>
  </ion-card>
</ion-content>
