ion-toolbar{
    background-color: #164b81;
}

ion-chip{
    width: 30%;
    height: 100px;
    background-position: center center;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size:  cover;
    margin-top: 150px;
}

.date{
    font-size: 50px;
    margin-left: 70px;
}

ion-icon {
    color: white;
    margin-left: 50px;
  }

  ion-chip{
    background-color: #164b81;
  }

.check{
    font-size: 35px;
    margin-left: 70px;
}

.iconSize {
    font-size: 80px;
  }

  .dateSize {
    font-size: 80px;
  }

  .top1{
      margin-top: -60px;
      margin-bottom: -50px;
  }

  .top2{
    margin-top: -60px;
    margin-bottom: -50px;
}

.top3{
    margin-top: -60px;
    margin-bottom: -50px;
}

.person{
    font-size: 50px;
    margin-left: 120px;
}

.button{
    margin-top: 50px;
}


ion-button{
    background-color: #164b81;
}