<ion-header [translucent]="true">
  <ion-toolbar color="darking">
    
    <center>
      <ion-title class="title">FELICITACIONES</ion-title>
    </center>
  </ion-toolbar>
  <ion-item class="select">
    <ion-label class="select">Tipo de felicitacion</ion-label>
    <ion-select class="select"  (ionChange)="recoverAlertValue($event)" placeholder="Elige" interface="alert" >
      <ion-select-option value='1'>Cumpleaños</ion-select-option>
      <ion-select-option value='2'>Navidad</ion-select-option>
      <ion-select-option value='0'>Mostrar todos</ion-select-option>
    </ion-select>
  </ion-item>
</ion-header>

<ion-content [fullscreen]="true">
  <center>
    <ion-card *ngFor="let felicitation of felicitations">
      <ion-card-header>
       <!-- <img src= "https://www.kindpng.com/picc/m/552-5525706_globos-fiesta-png-imagenes-de-feliz-cumpleaos-capricornio.png" />-->
        <img src= "{{felicitation.image}}" class="imgF"/>
        <br>
       <!-- <ion-card-title> ID: {{felicitation.id}}</ion-card-title> -->
        <ion-card-subtitle> </ion-card-subtitle>
        <ion-card-subtitle> Tipo : {{conversorTipo(felicitation)}}</ion-card-subtitle>
        <ion-card-subtitle> Dia y mes de envio : {{felicitation.dateSend | date:'dd-MM'}}</ion-card-subtitle>
        <ion-card-subtitle> Estado : {{conversorEstado(felicitation)}}</ion-card-subtitle>
      </ion-card-header>
      <br>
      <tr>
        <td>
          <div class="supreme">
          <ion-fab-button color="danger">
            <ion-icon name="trash" (click)="deleteFelicitation(felicitation)"></ion-icon>
          </ion-fab-button>
        </div>
      </td>
        <td>
          <div class="edit">
          <ion-fab-button (click)="openEditFelicitation(felicitation)" color="primary">
            <ion-icon name="create"></ion-icon>
          </ion-fab-button>
        </div>
       </td>
      </tr>
      <br>
    </ion-card>
  </center>    
 
    

  
 

    
    



  <ion-fab vertical="bottom" horizontal="end" slot="fixed" class="addFeli">
    <ion-fab-button (click)="openCreateFelicitation(felicitacion)" color="warning">
      <ion-icon name="duplicate-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
