<ion-header>

  <ion-toolbar color="darking">
    <ion-buttons slot="start">
      <ion-button class="exit" (click)="exit()">
        <ion-icon name="arrow-back" ios="arrow-back" md="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>

    <center>
      <img src="https://cdn-icons-png.flaticon.com/512/437/437501.png" height="80" width="80" style="margin-right: 30px;" alt="">
    </center>
  </ion-toolbar>
</ion-header>

<ion-content  color="dark">

  <ion-card class="card">

    <ion-card-header>
      <ion-card-subtitle color="dark"></ion-card-subtitle>
      
      
    </ion-card-header>

    <ion-card-content>

      <div class="centrado" scrollY="true" id="scroll-list">
        <form [formGroup]="formParent">
          <ion-item color="white">
            <ion-label>DNI: </ion-label>
            <ion-input placeholder=" Introduce el DNI" type="text" formControlName="dni"></ion-input>
          </ion-item>
          <br>
          <ion-item color="white">
            <ion-label>Nombre: </ion-label>
            <ion-input placeholder=" Introduce el nombre" type="text" formControlName="name"></ion-input>
          </ion-item>
          <br>
          <ion-item color="white">
            <ion-label>Apellido: </ion-label>
            <ion-input placeholder=" Introduce el apellido" type="text" formControlName="surname"></ion-input>
          </ion-item>
          <br>
          <ion-item color="white">
            <ion-label>Email: </ion-label>
            <ion-input placeholder=" Introduce el nombre" type="text" formControlName="email"></ion-input>
          </ion-item>
          <br>
          <ion-item color="white">
            <ion-label>Teléfono: </ion-label>
            <ion-input placeholder=" Introduce el Teléfono" type="text" formControlName="phone"></ion-input>
          </ion-item>
          <br>

          <ion-item color="white">
            <ion-label>Selecciona el genero</ion-label>
            <ion-select (ionChange)="notifyChange($event)" formControlName="type">
              <ion-select-option value='0'>Hombre</ion-select-option>
              <ion-select-option value='1'>Mujer</ion-select-option>
            </ion-select>
          </ion-item>
          <br>
        <ion-button color="warning" expand="block" type="submit" [disabled]="formParent.invalid" (click)="UpdateParent()">Guardar Padre </ion-button>
      </form>
      </div>

    </ion-card-content>

  </ion-card>

</ion-content>