.logo{
    
    margin-left: 0px;
    margin-bottom: -70px;
    margin-top: -50px;

}

ion-content{

    --ion-background-color:#174a7f;
}

.card{
    margin-top: 120px;
}
ion-button{
    background-color: #ffc00e;
}

style{
    @media (min-width:320px)  { 
        /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
            body, table, p, img {
            padding-right: 1em;
            width: 100%;
            }
         }
        @media (min-width:480px)  { 
        /* smartphones, Android phones, landscape iPhone */ 
        }
        @media (min-width:600px)  { 
        /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ 
        }
        @media (min-width:801px)  { 
        /* tablet, landscape iPad, lo-res laptops ands desktops */ 
        }
        @media (min-width:1025px) { 
        /* big landscape tablets, laptops, and desktops */ 
        }
        @media (min-width:1281px) { 
        /* hi-res laptops and desktops */ 
        }
}


.campos{
    margin-top: 15px;
    margin-bottom: 30px;
    
}

span{
    font-size: 16px;
    margin-right: 10px;
    
}
ion-card{
    background-color: #ffffff;
}

.button{
    margin-top: 25px;
    margin-left: 10px;
    margin-right: 10px;
}