<ion-tabs>

  <ion-tab-bar slot="bottom"  color="darking">
    <ion-tab-button  tab="tab1" (click)="getKids(event)">
      <ion-icon class="hover" name="accessibility"></ion-icon>
      <ion-label>Peques</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="tab2">
      <ion-icon class="hover" name="people"></ion-icon>
      <ion-label  >Clientes</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="tab3">
      <ion-icon class="hover"  name="mail"></ion-icon>
      <ion-label >Felicitaciones</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="tab4">
      <ion-icon class="hover"  name="send"></ion-icon>
      <ion-label >Enviar</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
