<ion-header>

  <ion-toolbar color="darking">
    <ion-buttons slot="start">
      <ion-button class="exit" (click)="exit()">
        <ion-icon name="arrow-back" ios="arrow-back" md="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>

    <center>
      <img src="https://cdn4.iconfinder.com/data/icons/birthday-50/512/birthday_celebration_party_happy_celebrate_balloon_cake-10-512.png" height="80" width="80" style="margin-right: 30px;" alt="">
    </center>
  </ion-toolbar>

</ion-header>

<ion-content color="dark">
  <ion-card class="card">
    <ion-card-header>
      <ion-card-title color="dark"></ion-card-title>
      <br>
      <center>
        <ion-card-title color="dark">Nueva felicitacion</ion-card-title>
        <br>
      </center>

    </ion-card-header>
   
    <ion-card-content>
      <div class="centrado">
        <form [formGroup]="formFelicitation">
          <ion-item color="white">
            <ion-label>Tipo</ion-label>
            <ion-select (ionChange)="notifyChange($event)" placeholder="Elige" interface="alert" formControlName="type">
              <ion-select-option value='1'>Cumpleaños</ion-select-option>
              <ion-select-option value='2'>Navidad</ion-select-option>
            </ion-select>
          </ion-item>  
          <br>
          <ion-item color="dark">
            <ion-label>Selecciona el hijo</ion-label>
            <ion-select (ionChange)="elegirHijo($event)"   placeholder="Elige" interface="alert" formControlName="kid">
              <ion-select-option *ngFor="let kid of kids; let i=index" [value]="kid" >{{kid.name}}</ion-select-option>
            </ion-select>
          </ion-item> 
          <br>
          <br> 
      <div class="container">
        <form [formGroup]="form" (ngSubmit)="submitForm()">
          <div class="form-group"  class="selectImagen">
            <input  type="file" (change)="uploadFile($event)" label="none" accept="image/jpeg,image/jpg,image/png">
          </div>
          <div class="form-group">
            <center>
              <ion-button color="warning" expand="block" (click)="createFelicitation()">Guardar felicitacion &nbsp;</ion-button>
            </center>
               
          </div>
        </form>
      </div>
      </form>     
     </div>
    </ion-card-content>
  </ion-card>
</ion-content>